package templates

import "github.com/dermaddis/todolist_example/internal/models"

templ Index(todos []models.Todo) {
	@Page() {
		<main class="ml-[1rem] mt-[1rem] flex flex-col">
			<h1 class="text-black dark:text-white">Index</h1>
			@TodoList(todos)
		</main>
	}
}
