package templates

templ Page() {

<head>
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>

<body class="bg-white dark:bg-dgray-0">
    { children... }
</body>
}
